<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreationProperties</key>
	<dict>
		<key>IOSurfaceAllocSize</key>
		<integer>2023424</integer>
		<key>IOSurfaceBytesPerElement</key>
		<integer>4</integer>
		<key>IOSurfaceBytesPerRow</key>
		<integer>4864</integer>
		<key>IOSurfaceHeight</key>
		<integer>416</integer>
		<key>IOSurfaceName</key>
		<string>libmachook_arm64.dylib</string>
		<key>IOSurfacePixelFormat</key>
		<integer>1111970369</integer>
		<key>IOSurfacePixelSizeCastingAllowed</key>
		<true/>
		<key>IOSurfaceWidth</key>
		<integer>1216</integer>
	</dict>
	<key>IOSurfaceColorSpace</key>
	<string>kCGColorSpaceSRGB</string>
	<key>IOSurfaceName</key>
	<string>libmachook_arm64.dylib</string>
</dict>
</plist>
